<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button>Atras</ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="center">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mensaje nuevo P.Calfún</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Por motivos personales la clase de hoy no se realizará, deben continuar con sus proyectos y enviarlos antes del lunes 27 a las 23:59.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mensaje nuevo P.Proinick</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Adjunto fechas de examenes: <br>
      Examen oral: Miercoles 29 de noviembre 10:00hrs<br>
      Examen escrito: Miercoles 6 de Diciembre 10:00hrs

    </ion-card-content>
  </ion-card>
</ion-content>
