ion-header{
    ion-toolbar, ion-item{
      --background: #ffd000;
      background: #ffd000;
      padding: 0 20px;
      color: black;
    }
}


ion-back-button{
    color: black;
  }

ion-content{
    --background: rgb(255, 255, 255);
    --padding-top: 5%;

    ion-item{
        --background: white;
        color: black;

        ion-label{
            color: black;
        }
        
    }
}

.center-button {
    display: block;
    margin: 0 auto;
    padding: 20px 30%;
  }