<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="irNotis()">
      <ion-button class="bordered" color="light">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start" [routerLink]="['/profile']">
      <img src="assets/images/usuariologo.png" alt="user">
    </ion-avatar>
    <ion-label>
      <p>Bienvenido Estudiante/a</p>
      <h3>{{ usuario.nombre }} {{ usuario.apellido }}</h3>
    </ion-label>
  </ion-item>
</ion-header>
<!-- En home.html -->
<ion-content>
  <div class="container">
    <ion-row class="header-row">
      <ion-col size="8">
        <h2>Clases {{ fecha }}</h2>
      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <ion-button (click)="manualUpdate()" color="black" id="btn-5">
          <ion-icon name="reload-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Itera sobre las clases del día actual -->
    <ion-item *ngFor="let clase of clasesHoy" lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-label>
              <h4>{{ clase.subjectName }}</h4>
              <h6>{{ clase.startTime }} - {{ clase.endTime }}</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear" (click)="irScan(clase)">
              <ion-icon name="qr-code-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
